.container{
  max-width: 500px;
  margin: 1rem;
  border-radius: .5rem;
  width: 500px;
  min-width: 320px;
  background: var(--white);
  max-height: 100vh;

  @media(max-width: 700px){
    margin: 0;
    border-radius: 0;
    box-shadow: 0 0 0 white;
  }
}