* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #ffffff;

  --gray-100: #727272;
  --gray-50: #afafaf;

  --green: #49d050;
  --green-100: #033606;

  --red-50: #ff3a3a;

  --blue: #4a44c7;
}

body {
  width: 100vw;
  height: 100vh;
}

body,
input,
textarea,
select,
button,
p,
h1,
h2,
h3 {
  font-family: 'Poppins', sans-serif;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--white);        /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
  background-color: var(--blue);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid var(--blue);  /* creates padding around scroll thumb */
}
