.container {
  background: var(--secondary);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem 4rem;

  .image {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    > p {
      color: var(--white);
      font-size: 1.5rem;
      margin-left: 1rem;
    }
  }

  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 40%;

    > a {
      color: var(--white);
      font-size: 1.2rem;
      padding: .2rem;
      border-bottom: 2px solid transparent;

      &:hover{
        transition: .3s;
        cursor: pointer;
        border-bottom: 2px solid var(--primary);
      }
    }
  }

}
