.container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--gray-50);
  max-width: 500px;
  z-index: 9;
  height: 100%;

  >h1{
    font-weight: 900;
    font-size: 1.2rem;
  }
}